<div class="card">
  <div class="card-body">
    <form [formGroup]="studentForm"> 
          <div class="form-group">
                  <label class="col-md-4">Student ID</label>
          <input type="text" class="form-control"  formControlName="_id" #_id  [(ngModel)] = "studentData._id" />
                    </div>
      <div class="form-group">
        <label class="col-md-4">User ID</label>
<input type="text" class="form-control"  formControlName="userId"   [(ngModel)] = "studentData.userId" />
          </div>
         <div class="form-group">
          <label class="col-md-4">Full Name</label>
  <input type="text" class="form-control"  formControlName="fullName"  [(ngModel)] = "studentData.fullName" />
            </div>
   <div class="form-group">
                <label class="col-md-4">English</label>
            <input required type="text" class="form-control"  formControlName="English"    [(ngModel)] = "English" placeholder="English"/>
            <div class="alert alert-danger" *ngIf="!English">
            </div>
          </div> 
          <div class="form-group">
              <label class="col-md-4">Hindi</label>
      <input type="text" class="form-control"  formControlName="Hindi"    [(ngModel)] = "Hindi" placeholder="Hindi" />
      <div class="alert alert-danger" *ngIf="!Hindi">
      </div>
      </div>
                <div class="form-group">
                    <label class="col-md-4">Mathametics</label>
            <input type="text" class="form-control"  formControlName="Matha"   [(ngModel)] = "Matha" placeholder="Matha" />
            <div class="alert alert-danger" *ngIf="!Matha">
            </div>           
          </div>
   
    <div class="form-group">
    <button (click)="modifyData(English, Matha,Hindi)"
     class="btn btn-primary">Add Student Task</button>
  </div>

      </form>
  </div> 
  <div>
    <button (click)="onclick()" >Back</button>
  </div>
        
    </div>    