<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a href="#" class="navbar-brand">School</a>
      </div> -->
  
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
          <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="/studentdata">studentdata</a></li>
        </ul>
        <router-outlet></router-outlet>    
      </div>
    </div>
  </nav>